*{
    margin:0 auto;
    
    padding:0;
    font-family:Helvetica, Arial, sans-serif;

    list-style-type: none;
    scroll-behavior: smooth;
}
a{
    color:black;
    font-weight: bold;
    text-decoration: none;
}
a:visited{
    color:black;
}
body{
    max-width:1024px;
}

.icones{
    max-width: 1.2em;

}
.titulo{
    text-align: center;
}
.quem-sou img{
    max-width:10em;
    border-radius: 50%;
}
.topo, .rodape, .redes-topo ul, .navegacao-topo ul, .quem-sou, .formacao, .projetos{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:1em;
    gap:1em;
    text-align:center;
}
.topo,.quem-sou,.formacao,.projetos{
    flex-wrap: wrap;

}
card{

    height:250px;
    width:300px;
    background-color:azure;
}
card:hover{
    box-sizing: border-box;
    border:1px solid aqua;
}

card img{
    overflow: hidden;
    margin-top:1em;
    max-width: 240px;
    max-height: 150px;
    padding: 0.5em;
}
.rodape{
    background-color: azure;
}
@media (max-width:576px){
.topo, .rodape, .redes-topo ul, .navegacao-topo ul, .quem-sou, .formacao, .projetos{
    display:block;
    }
}
