*{
    font-family: Calibri, sans-serif;

}
body {

    margin: 0;
    padding: 0;
    background-color: lightgray;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    background-color: ghostwhite;
    color: royalblue;
}
img{
    height:100%;
}

.logo {
    text-align: center;
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.icons {
    display: flex;
    justify-content: flex-end;
    height:24px;

}

.icons a {
    margin: 0 10px;
    background: white;
}


.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 50px;
}
.projects img{
    height: 100%;
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    overflow: hidden;
    background: black;
    color:ghostwhite;
}

.card img {
    width: 100%;
    height: 60%;
    
}

.education {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 50px;
}
.education img{
    width:100%;
    height: 60%;
    overflow: fit;
}

